<h1>School Class Form </h1>
<%= form_for @schoolclass do |f| %>
    <%= f.label :Title%>
    <%= f.text_field :title %>
    <%= f.label :Room_Number %>
    <%= f.number_field :room_number %>
    <%= f.submit "Create School class" %>
<% end %>